body {
  margin: 0;
  padding: 0;
  width: 100%;
  outline: none;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

.italic {
  font-style: italic;
}

.wrapper {
  position: relative;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

ul, ol {
  position: relative;
  margin: 0 auto;
  width: 50%;
  text-align: left;
  padding: 5px 0px;
}

.portfolio {
  position: relative;
  margin: 0 auto;
  width: 50%;
  background-color: aquamarine;
  border-radius: 50%;
}

.key-ideas {
  color: rgb(9, 9, 97);
  font-weight: bold;
}